* {
  margin: 0;
}

body {
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
}

h1 {
  margin: 0px 0px 10px 0px;
}

span {
  color: red;
  font-size: 40px;
}

select {
  margin: 0px 0px 0px 10px;
}

.countrySelect {
  border-radius: 6px;
  padding: 0px 0px 0px 0px;
  outline: none;
  font-weight: 400;
  width: 350px;
  height: 50px;
  font-size: 15px;
}

.coronaStats {
  display: flex;
  justify-content: space-evenly;
  background-color: #fd4f3f;
  border-radius: 10px;
  margin: 20px 0px 30px 0px;
}

.titleCases {
  margin: 10px;
}

.caseBox {
  margin: 50px 10px 50px 10px;
}
.caseBoxCard {
  border: 3px solid lightgreen;
  border-radius: 8px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  color: white;
  width: 200px;
  height: 100px;
}

.tableform {
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
}

.countryName {
  flex: 0.5;
}

.sr {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.allCountries {
  display: flex;
  justify-content: space-evenly;
}

.case-list {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0px 30px 0px;
  padding: 10px 0px 10px 0px;
  color: red;
}

.case-list:after {
  display: block;
  height: 2px;
  background-color: red;
  content: " ";
  width: 100px;

  margin: 0 auto;
}

.table {
  margin-top: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #6a5d5d;
  background-color: white;
  height: 400px;
}

.table tr {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.graph {
  margin: 50px 0px 20px 0px;
}

.LineGraph {
  height: 400px;
}

@media screen and (max-width: 1000px) {
  .header {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .countrySelect {
    width: auto;
  }

  .coronaStats {
    display: block;
    margin: 20px 0px 0px 0px;
    padding: 10px;
  }

  .caseBoxCard {
    width: auto;
    height: 100px;
    margin: 10px 0px 10px 0px;
  }

  .sr {
    display: flex;
    height: 60px;
    text-align: center;
    margin: 10px;
  }

  .LineGraph {
    height: 200px;
  }
}
